.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    >.left {
        width: 500px;
        margin: 15px;
        box-sizing: border-box;
    }

    >.right {
        margin: 15px;
        width: calc(100% - 500px);
        box-sizing: border-box;
    }
}