@import "../../variables.scss";

.species-list {
    min-width: 300px;
    max-width: 100%;

    >h1 {
        margin: 0px;
        font-size: 22px;
        color: $light-text-color;
        text-transform: uppercase;
        background-color: $secondary-color;
        text-align: left;
        padding: 15px;  
        box-sizing: border-box;
    }

    >.list {
        height: 100%;
    }
}

.create-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 5px;
    padding-left: 20px;     
    padding-right: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    box-sizing: border-box; 
    
}

.species-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 5px;
    padding-left: 20px;     
    padding-right: 20px;
    box-sizing: border-box;

    >.card-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .card-icon {
        margin-left: 15px;

        &.warning {
            color: orange;
        }

        &.creator {
            color: gold;
        }
    }

    .card-image {
        width: 30px; 
        height: 30px; 
        border-radius: 100%; 
        margin-left: 15px;
    }

}

.species-card:hover {
    background: linear-gradient(
        rgba(0, 0, 0, 0.05), 
        rgba(0, 0, 0, 0.05)
      ),;
}

.mat-menu-item:hover {

        >.share {
            color: $primary-color;
        }

        >.unsubscribe {
            color: red;
        }
}
